<meta charset="utf-8" />
<title><%- title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
<meta content="Themesdesign" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="<%- baseUrl; %>/admin/assets//images/3.png">

<!-- jvectormap -->
<link href="<%- baseUrl; %>/admin/assets//libs/jqvmap/jqvmap.min.css" rel="stylesheet" />

<!-- Bootstrap Css -->
<link href="<%- baseUrl; %>/admin/assets//css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="<%- baseUrl; %>/admin/assets//css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="<%- baseUrl; %>/admin/assets//css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
<!-- DataTables -->
<link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!--  -->
<link href="assets/libs/datatables.net-respoonsive-bs4/css/reaponsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<script src="<%= baseUrl; %>/admin/assets/libs/jquery/jquery.min.js"></script>
<!-- sweetalert2 Css-->
<script src="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.js"></script>
<link rel="stylesheet" href="https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.css" />