<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>News 24</title>
  <link rel="shortcut icon" href=".admin/assets/images/3.png" type="image/x-icon" />
  <link rel="stylesheet" href="/assets/css/styles.css" /> 
  <link rel="stylesheet" href="/assets/css/main.css" /> 
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body class="">
  <!-- logo Start -->
  <div class="row">
    <div class="logo">
      <img class="logoImg" src="/assets/img/logo.webp" alt="">
    </div>
  </div>
  <!-- Header -->
  <div class="w-full bg-red-700"><%- include('header'); -%></div>
  <!-- Header -->
  <!-- logo End  -->
  <div class="container mx-auto">

    <!-- Main -->
    <div class="w-full bg-white">
      <br>

      <% if(flashsms=='' ){ }else{ %>
        <div class="w-full text-center mb-4">
          <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800"
            role="alert">
            <span class="font-medium">
              <%= flashsms %>
            </span>
          </div>
        </div>
        <% }; %>
          <% if(flasherr=='' ){ }else{ %>
            <div class="w-full text-center mb-4">
              <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800"
                role="alert">
                <span class="font-medium">
                  <%= flasherr %>
                </span>
              </div>
            </div>
            <% }; %>
              <!-- hero banner start  -->
              <div class="topBanner p-5">
                <img src="/assets/img/TBIMG.jpg" alt="">
              </div>
              <div class="hero_banner p-5">
                <div class="hero_banner_img">
                  <img class="" src="assets/img/Banner.jpg" alt="">
                </div>
                <div class="hero_banner_content">
                  <h1>What is the main purpose of newspaper?
                  </h1>
                  <p>There are many types of newspapers, from school/university publications to large news outlets like
                    the Daily Mail, or Guardian. Local papers will focus more on events in and around the community, for
                    example they may cover community fates or markets. They’ll also have stories about local people.
                    They will still be written in a professional and formal way but may have a more conversational tone.

                    Unlike local papers, national publications will focus more on events that effect the wider populous.
                    They will also report on noteworthy international events, such as crises and wars, but also sporting
                    and entertainment events like the Olympics. They advertise to a much wider audience than local
                    papers and need to relate to most of the population.

                    Unlike local papers, national publications will focus more on events that effect the wider populous.
                    They will also report on noteworthy international events, such as crises and wars, but also sporting
                    and entertainment events like the Olympics. They advertise to a much wider audience than local
                    papers and need to relate to most of the population.
                    They will also report on noteworthy international events, such as crises and wars, but also sporting
                    and entertainment events like the Olympics. They advertise to a much wider audience than local
                    papers and need to relate to most of the population.

                  </p>
                </div>
              </div>

              <div class="topBanner">
                <img src="/assets/img/katar.webp" alt="">
              </div>

              <!-- hero banner end  -->
              <br>

              <br>
              <div class="w-full grid grid-cols-4 gap-4 content-center p-3">
                <% if(posts){ posts.forEach(function(post){ %>
                  <div
                    class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <a href="<%= baseUrl %>/news/<%= post.slug %>">
                      <img class="rounded-t-lg" src="<%= baseUrl %>/uploads/<%= post.featured_image %>" alt="" />
                    </a>
                    <div class="p-5">
                      <a href="<%= baseUrl %>/news/<%= post.slug %>">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                          <%= post.title %>
                        </h5>
                      </a>
                      <a href="<%= baseUrl %>/news/<%= post.slug %>"
                        class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Read more
                        <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                  <% }); }; %>
              </div>
    </div>
    <div class="topBanner p-5">
      <img src="/assets/img/fbanner.jpg" alt="">
    </div>
    <!-- Main -->
    <!-- footer -->
    <div class="w-full"><%- include('footer'); -%></div>
    <!-- footer -->
  </div>

  <script src="./assets/js/flowbite.js"></script>
</body>

</html>